# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# Large Model Files
models/*.task
models/*.onnx

# Local Logs
logs/*.csv

# Packed Repository Data
brightness.xml

# IDEs and OS Files
.vscode/
.idea/
.DS_Store